@using GeoComponent.Models

@{
    ViewData["Title"] = "GeoArtist Demo";
}

<h2>GeoArtist Demo</h2>

@await Component.InvokeAsync("GeoMap", new
{
    options = new GeoMapOptions
    {
        MapId = "demoMap",
        Height = "600px"
    }
})