@using Core.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS


<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="_content/GeoArtist.RazorComponent/js/geoArtist.js"></script>


<div id="@MapId" style="height:@Height;"></div>

@code {
    [Parameter] public string MapId { get; set; } = "geoMap";
    [Parameter] public string Height { get; set; } = "500px";
    [Parameter] public GeoResult Geo { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender || Geo == null) return;

        await JS.InvokeVoidAsync("geoModule.renderMap", MapId, Geo.GeoJson, Geo.BoundingBox.MinX, Geo.BoundingBox.MinY, Geo.BoundingBox.MaxX, Geo.BoundingBox.MaxY);
    }
}