@model Core.Models.GeoResult
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>♦</h2>
<hr/>
<h2>GeoArtist Demo</h2>
@await Component.InvokeAsync("GeoMap", new { geo = Model, mapId = "demoMap", height = "600px" })

<h2>GeoArtist Demo 2</h2>
@await Component.InvokeAsync("GeoMap", new { geoBatch = new[] { Model }, mapId = "batchMap", height = "600px", polygonColor = "#00ff00" })